lib/flows/ToryBridge
[{"id":"a6a874a8.34d4f8","type":"ui_tab","z":"62064590.bdb24c","name":"Home","icon":"dashboard","order":"1"},{"id":"384f1d70.84d5a2","type":"ui_tab","z":"62064590.bdb24c","name":"ToryBridgeDetails","icon":"dashboard","order":"2"},{"id":"f511d267.70153","type":"subflow","name":"Metrics","info":"","in":[{"x":120,"y":280,"wires":[{"id":"87c74d39.bf466"}]}],"out":[{"x":440,"y":160,"wires":[{"id":"87c74d39.bf466","port":0}]},{"x":440,"y":220,"wires":[{"id":"87c74d39.bf466","port":1}]},{"x":440,"y":280,"wires":[{"id":"87c74d39.bf466","port":2}]}]},{"id":"87c74d39.bf466","type":"function","z":"f511d267.70153","name":"Get Metrics","func":"/**\n * Get Metrics\n */\nvar now = new Date().getTime();\nvar lastNow = flow.get( 'lastMessage' ) || now;\n//node.log( \"msg.payload=\" + msg.payload );\n\nfunction getMessageRate( timestamp )\n{\n    var list = flow.get( 'messageRate') || [];\n    if( timestamp  )\n    {\n        list.push( timestamp )\n    }\n    var list2 = [];\n    for( var i = 0; i < list.length; i++ )\n    {\n        var delt = timestamp - list[i];\n        //console.log( \"delt1=\" + delt );\n        if( timestamp && delt < 1000 )\n        {\n            list2.push( list[i] );\n        }\n    }\n    flow.set( 'messageRate', list2 );\n    //console.log( \"list=\" + JSON.stringify( list2 ) + \" rate=\" + list2.length );\n    return list2.length;\n}\n\nif( msg.payload == \"tickle\" )\n{\n    var delt = now - lastNow;\n    //console.log( \"delt2=\" + delt );\n    if( 0 < delt && delt < 1500 )\n    {\n        //node.log( \"ALL NULL\" );\n        return null;\n    }\n    else\n    {\n        var msg1 = { 'payload' : getMessageRate() };\n        var msg2 = { 'payload' : 0 };\n        var msg3 = { 'payload' : 0 };\n        //node.log( \"ONE NULL\" );\n        return [ msg1, msg2, msg3 ];\n    }\n}\n\nflow.set( 'lastMessage', now );\n//node.log( \"NOT NULL\" );\n \nvar count = 0;\nvar udfCount = 0;\nfor( var i = 0; i < msg.payload.length; i++ )\n{\n    var thing = msg.payload[i];\n    for( var udf in thing )\n    {\n        udfCount++;\n    }\n    count++;\n}\n\nvar str = \"things=\" + count + \" udfs=\" + udfCount;\nnode.status( { fill : \"green\", shape : \"dot\", text : str } );\n\nvar msg1 = { 'payload' : getMessageRate( now ) };\nvar msg2 = { 'payload' : count };\nvar msg3 = { 'payload' : udfCount };\n\nreturn [ msg1, msg2, msg3 ];\n","outputs":"3","noerr":0,"x":270,"y":220,"wires":[[],[],[]]},{"id":"7bb1c80f.b47ae8","type":"inject","z":"f511d267.70153","name":"tickle","topic":"","payload":"tickle","payloadType":"str","repeat":"1","crontab":"","once":false,"x":90,"y":160,"wires":[["87c74d39.bf466"]]},{"id":"86e76f90.d0e4f","type":"mqtt-broker","z":"62064590.bdb24c","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"e38d3728.730328","type":"subflow","name":"ZoneDwellFilter","info":"The Zone Dwell Filter (aka DuPont)","in":[{"x":260,"y":120,"wires":[{"id":"bd3d92d8.4f3dd"}]}],"out":[{"x":620,"y":180,"wires":[{"id":"bd3d92d8.4f3dd","port":0},{"id":"9ae2f667.087b18","port":0}]}]},{"id":"bd3d92d8.4f3dd","type":"function","z":"e38d3728.730328","name":"ZoneDwellFilter","func":"var zdf = flow.get( \"zdf\" );\n\nvar blinks = [];\nfor( var i = 0; i < msg.payload.length; i++ )\n{\n    var blink = msg.payload[i];\n   \n    // required fields: timestamp, x, y, zone, blink\n    var b = {};\n    b.time = blink.timestamp;\n    b.x = blink.x || 0;\n    b.y = blink.y || 0;\n    b.zone = blink.zone || \"ZONE\";\n    // save the orignal blink\n    b.blink = blink;\n    \n    var out = zdf.filter( blink.serialNumber, b );\n    \n    if( out )\n    {\n        blinks.push( blink );\n    }\n    else\n    {\n        node.log( \"dropped\" );\n    }\n}\n\nif( blinks.length > 0 )\n{\n    return { 'payload' : blinks };\n}\nelse\n{\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":440,"y":120,"wires":[[]]},{"id":"351ecc8.0d52a34","type":"inject","z":"e38d3728.730328","name":"DwellTimeCheckThread","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":200,"y":220,"wires":[["9ae2f667.087b18"]]},{"id":"9ae2f667.087b18","type":"function","z":"e38d3728.730328","name":"CheckDwellTime","func":"var zdf = flow.get( \"zdf\" );\n\nif( zdf === undefined )\n{\n    var ZoneDwellFilter = global.get( \"zoneDwellFilter\" );\n    zdf = new ZoneDwellFilter();\n    flow.set( \"zdf\", zdf );\n}\n\n//node.log( \"dwelltime check=\" + msg.payload );\n    \nvar blinks = zdf.checkDwellTime( msg.payload );\n\nvar out = []\nfor( var i = 0; i < blinks.length; i++ )\n{\n       out.push( blinks[i].blink );\n}\n\nif( blinks.length > 0 )\n{\n    return { 'payload' : out };\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":430,"y":220,"wires":[[]]},{"id":"ec863c6e.5485f","type":"http in","z":"62064590.bdb24c","name":"HTTP INPUT","url":"/tb1","method":"post","swaggerDoc":"","x":90,"y":60,"wires":[["c18c5975.c1cc18","a674c705.01dbb8"]]},{"id":"627ad7ac.f7adb8","type":"subflow:e38d3728.730328","z":"62064590.bdb24c","name":"","x":680,"y":400,"wires":[["d9316a0b.cb84f8","5437b126.8d9e2"]]},{"id":"c18c5975.c1cc18","type":"http response","z":"62064590.bdb24c","name":"","x":270,"y":60,"wires":[]},{"id":"8973d948.7b8d18","type":"csv","z":"62064590.bdb24c","name":"CSV to Object","sep":",","hdrin":false,"hdrout":"","multi":"mult","ret":"\\n","temp":"thingTypeCode,serialNumber,timestamp,udf,value","x":280,"y":120,"wires":[["9cd0aebc.bef3b"]]},{"id":"2e71351e.6a46aa","type":"mqtt out","z":"62064590.bdb24c","name":"Publish MQTT","topic":"","qos":"2","retain":"","broker":"86e76f90.d0e4f","x":940,"y":640,"wires":[]},{"id":"4e8a176.39921e8","type":"function","z":"62064590.bdb24c","name":"Pre Publish MQTT","func":"/*\n * 1. set the message topic\n * 2. prepends a sequence number to the message body\n */\n\nvar bridgeCode = \"ALEB\";\nvar ttc = flow.get( 'thingTypeCode' );\n\n//TODO: check for empty message set ?\n\nmsg.topic = \"/v1/data/\" + bridgeCode + \"/\" + ttc ;\n\nvar seqnum = flow.get( 'seqnum' ) || {};\nif( seqnum[ttc] === undefined )\n{\n    seqnum[ttc] = 0;\n}\nseqnum[ttc]++;\nflow.set( 'seqnum', seqnum );\nmsg.payload = \"sn,\" + seqnum[ttc] + \"\\n\" + msg.payload;\n\nnode.log( \"seqnum=\" + JSON.stringify( seqnum ) );\n//node.warn( \"msg.payload=\" + JSON.stringify( msg.payload ) )\n\nreturn msg;\n","outputs":"1","noerr":0,"x":730,"y":520,"wires":[["2e71351e.6a46aa"]]},{"id":"3c9eb723.e847e8","type":"function","z":"62064590.bdb24c","name":"Split by ThingTypeCode","func":"/**\n * Groups messages by thingTypeCode\n * \n * Send a separate msg for each thingTypeCode\n */\n \nif( msg.payload == null )\n{\n    return;\n}\n \nvar map = new Object();\n \nvar count = 0;\nfor( var i = 0; i < msg.payload.length; i++ )\n{\n    var ttc = msg.payload[i].thingTypeCode;\n    if( map[ttc] === undefined )\n    {\n        map[ttc] = [];\n    }\n    map[ttc].push( msg.payload[i] );\n    count++;\n}\n\n//var str = \"thingType_count=\" + count;\n//node.status( { fill : \"green\", shape : \"dot\", text : str } );\nnode.status( {} );\n\nfor( var ttc in map )\n{\n    //node.warn( \"adding \" + ttc );\n    flow.set( 'thingTypeCode', ttc );\n    node.send({ payload : map[ttc] } )\n    //msg.push( msg );\n}\n\nreturn;","outputs":"1","noerr":0,"x":690,"y":300,"wires":[["627ad7ac.f7adb8"]]},{"id":"9cd0aebc.bef3b","type":"function","z":"62064590.bdb24c","name":"Group by SerialNumber","func":"/**\n * Groups messages by serialNumber\n */\n \nvar map = new Object();\n \nfor( var i = 0; i < msg.payload.length; i++ )\n{\n    var serialNumber = msg.payload[i].serialNumber;\n    if( map[serialNumber] === undefined )\n    {\n        map[serialNumber] = [];\n    }\n    map[serialNumber].push( msg.payload[i] );\n}\n\nvar out = [];\nfor( var i in map )\n{\n    node.warn( \"adding \" + i );\n    out.push( map[i] );\n}\n\n\nmsg.payload = out;\n\nnode.status( { fill : \"red\", shape : \"ring\", text : \"disconnected\" } );\nvar str = \"thing_count=\" + out.length;\nnode.status( { fill : \"green\", shape : \"dot\", text : str } );\n\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["41fd501f.fa3aa"]]},{"id":"a674c705.01dbb8","type":"switch","z":"62064590.bdb24c","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"str"},{"t":"nnull"}],"checkall":"false","outputs":2,"x":110,"y":140,"wires":[["8973d948.7b8d18"],["ecebea7.cecca18"]]},{"id":"ecebea7.cecca18","type":"json","z":"62064590.bdb24c","name":"JSON to Object","x":380,"y":180,"wires":[["41fd501f.fa3aa"]]},{"id":"e8c2e2c2.89631","type":"mqtt in","z":"62064590.bdb24c","name":"","topic":"/v1/config/ALEB","broker":"86e76f90.d0e4f","x":100,"y":340,"wires":[["333d6559.6fcd4a"]]},{"id":"333d6559.6fcd4a","type":"function","z":"62064590.bdb24c","name":"Update Configuration (TODO)","func":"\n\nflow.set( 'config', msg.payload );\n\nnode.log( \"msg.payload=\" + JSON.stringify( msg.payload ) );\n\nreturn msg;","outputs":"0","noerr":0,"x":370,"y":340,"wires":[]},{"id":"41fd501f.fa3aa","type":"function","z":"62064590.bdb24c","name":"UDF Mapper","func":"/*\n *   \n */\n\n//var str = \"udf_count=\" + msg.payload.length;\nnode.status( {} );\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["3c9eb723.e847e8","dcafc9db.97fe48"]]},{"id":"d9316a0b.cb84f8","type":"function","z":"62064590.bdb24c","name":"Object to CSV","func":"/*\n*  converts a list of things into a list of UDF CSV strings\n*/\n\nvar str = \"\";\n\nfor( var i = 0; i < msg.payload.length; i++ )\n{\n    var thing = msg.payload[i];\n    for( var udf in thing )\n    {\n        if( udf != 'serialNumber' && udf != 'timestamp' )\n        var value = thing[udf];\n        str += thing.serialNumber + \",\" + thing.timestamp + \",\" + udf + \",\" + value + \"\\n\";\n    }\n}\n\nmsg.payload = str;\n\n//console.warn( \"body=\" + str );\n\nreturn msg;","outputs":"1","noerr":0,"x":700,"y":460,"wires":[["4e8a176.39921e8"]]},{"id":"20731652.5fb36a","type":"mqtt in","z":"62064590.bdb24c","name":"HazelCast Cache","topic":"/v1/config/thingCache","broker":"86e76f90.d0e4f","x":100,"y":480,"wires":[["7f9aa998.dc6328"]]},{"id":"7f9aa998.dc6328","type":"function","z":"62064590.bdb24c","name":"ThingCache (TODO)","func":"\nreturn msg;","outputs":"0","noerr":0,"x":320,"y":480,"wires":[]},{"id":"f9ec5270.332c6","type":"comment","z":"62064590.bdb24c","name":"Entry Point","info":"Entry POint","x":90,"y":20,"wires":[]},{"id":"7bf19916.5cdde8","type":"comment","z":"62064590.bdb24c","name":"Exit Point","info":"Exit Point","x":920,"y":600,"wires":[]},{"id":"4478827f.259e5c","type":"comment","z":"62064590.bdb24c","name":"Configuration Listener","info":"","x":120,"y":300,"wires":[]},{"id":"4caff130.eede5","type":"comment","z":"62064590.bdb24c","name":"ThingCache (allows for 'native filters' access to all thing UDFs, if needed)","info":"","x":280,"y":440,"wires":[]},{"id":"f666807d.ab488","type":"subflow:f511d267.70153","z":"62064590.bdb24c","x":1140,"y":400,"wires":[["b7ffe336.3b63e","d5c3d510.94b248"],["a5108522.88d2b8","46b976a3.1ed9c8"],["7148d3ee.d1d24c","db81cb8a.b5fa48"]]},{"id":"dcafc9db.97fe48","type":"subflow:f511d267.70153","z":"62064590.bdb24c","name":"","x":1140,"y":160,"wires":[["dcf2cfb5.0089d","990ba870.336558"],["db42515a.9689b","389c2b72.14d444"],["84cc085.50001f8","27327ecd.547372"]]},{"id":"dcf2cfb5.0089d","type":"ui_gauge","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"Messages/sec","group":"Messages Received","order":"1","format":"{{value}}","min":0,"max":"2","x":1370,"y":40,"wires":[]},{"id":"990ba870.336558","type":"ui_chart","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"","group":"Messages Received","order":"2","interpolate":"basis","nodata":"No Data","removeOlder":"1","removeOlderUnit":"60","x":1340,"y":80,"wires":[[],[]]},{"id":"db42515a.9689b","type":"ui_gauge","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"Things/sec","group":"Messages Received","order":"2","format":"{{value}}","min":0,"max":"1000","x":1360,"y":140,"wires":[]},{"id":"389c2b72.14d444","type":"ui_chart","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"","group":"Messages Received","order":"2","interpolate":"basis","nodata":"No Data","removeOlder":"1","removeOlderUnit":"60","x":1340,"y":180,"wires":[[],[]]},{"id":"84cc085.50001f8","type":"ui_gauge","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"UDFs/sec","group":"Messages Received","order":"3","format":"{{value}}","min":0,"max":"5000","x":1350,"y":240,"wires":[]},{"id":"27327ecd.547372","type":"ui_chart","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"","group":"Messages Received","order":"3","interpolate":"basis","nodata":"No Data","removeOlder":"1","removeOlderUnit":"60","x":1340,"y":280,"wires":[[],[]]},{"id":"b7ffe336.3b63e","type":"ui_gauge","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"Messages/sec","group":"Robot Messages Sent","order":"4","format":"{{value}}","min":0,"max":"2","x":1370,"y":340,"wires":[]},{"id":"d5c3d510.94b248","type":"ui_chart","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"","group":"Robot Messages Sent","order":"4","interpolate":"basis","nodata":"No Data","removeOlder":"1","removeOlderUnit":"60","x":1340,"y":380,"wires":[[],[]]},{"id":"a5108522.88d2b8","type":"ui_gauge","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"Things/sec","group":"Robot Messages Sent","order":"5","format":"{{value}}","min":0,"max":"1000","x":1360,"y":440,"wires":[]},{"id":"46b976a3.1ed9c8","type":"ui_chart","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"","group":"Robot Messages Sent","order":"5","interpolate":"basis","nodata":"No Data","removeOlder":"1","removeOlderUnit":"60","x":1340,"y":480,"wires":[[],[]]},{"id":"7148d3ee.d1d24c","type":"ui_gauge","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"UDFs/sec","group":"Robot Messages Sent","order":"6","format":"{{value}}","min":0,"max":"5000","x":1350,"y":520,"wires":[]},{"id":"db81cb8a.b5fa48","type":"ui_chart","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"","group":"Robot Messages Sent","order":"6","interpolate":"basis","nodata":"No Data","removeOlder":"1","removeOlderUnit":"60","x":1340,"y":560,"wires":[[],[]]},{"id":"5437b126.8d9e2","type":"function","z":"62064590.bdb24c","name":"Switch on ThingTypeCode","func":"\n\ntry\n{\n    if( msg.payload[0].thingTypeCode == \"robot\" )\n    {\n        return [msg,null];\n    }\n    else\n    {\n        return [null,msg];\n    }\n}\ncatch( e )\n{\n    node.warn( \"my catch error\");\n    return [null,null];\n}\n","outputs":"2","noerr":0,"x":920,"y":400,"wires":[["f666807d.ab488"],["c8dbf0c.9d34b1"]]},{"id":"c8dbf0c.9d34b1","type":"subflow:f511d267.70153","z":"62064590.bdb24c","x":1150,"y":700,"wires":[["619df6bb.f67da8","b8e7badb.c94968"],["f65d30a5.5b4b","ccc3bc1a.5346","10776017.b9167","9cc00844.bdd038"],["e87841a5.dab4e","2a481884.777f58"]]},{"id":"619df6bb.f67da8","type":"ui_gauge","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"Messages/sec","group":"Asset Messages Sent","order":"7","format":"{{value}}","min":0,"max":"2","x":1380,"y":620,"wires":[]},{"id":"b8e7badb.c94968","type":"ui_chart","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"","group":"Asset Messages Sent","order":"7","interpolate":"basis","nodata":"No Data","removeOlder":"1","removeOlderUnit":"60","x":1350,"y":660,"wires":[[],[]]},{"id":"f65d30a5.5b4b","type":"ui_gauge","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"Things/sec","group":"Asset Messages Sent","order":"8","format":"{{value}}","min":0,"max":"1000","x":1370,"y":720,"wires":[]},{"id":"ccc3bc1a.5346","type":"ui_chart","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"","group":"Asset Messages Sent","order":"9","interpolate":"basis","nodata":"No Data","removeOlder":"1","removeOlderUnit":"60","x":1350,"y":760,"wires":[[],[]]},{"id":"e87841a5.dab4e","type":"ui_gauge","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"UDFs/sec","group":"Asset Messages Sent","order":"10","format":"{{value}}","min":0,"max":"5000","x":1360,"y":800,"wires":[]},{"id":"2a481884.777f58","type":"ui_chart","z":"62064590.bdb24c","tab":"384f1d70.84d5a2","name":"","group":"Asset Messages Sent","order":"10","interpolate":"basis","nodata":"No Data","removeOlder":"1","removeOlderUnit":"60","x":1350,"y":840,"wires":[[],[]]},{"id":"10776017.b9167","type":"ui_gauge","z":"62064590.bdb24c","tab":"a6a874a8.34d4f8","name":"Things/sec","group":"ToryBridge Assets Sent","order":"1","format":"{{value}}","min":0,"max":"1000","x":1610,"y":660,"wires":[]},{"id":"9cc00844.bdd038","type":"ui_chart","z":"62064590.bdb24c","tab":"a6a874a8.34d4f8","name":"","group":"ToryBridge Assets Sent","order":"2","interpolate":"basis","nodata":"No Data","removeOlder":"1","removeOlderUnit":"60","x":1590,"y":700,"wires":[[],[]]},{"id":"8dd0ac17.e1bf1","type":"comment","z":"62064590.bdb24c","name":"Exit Point","info":"Exit Point","x":1591.666748046875,"y":604.6666870117188,"wires":[]}]